# API Configuration
API_BASE_URL=https://restful-booker.herokuapp.com 🟢

# WEB Configuration
WEB_BASE_URL=https://www.saucedemo.com 🟢
WEB_CREDENTIALS_USERNAME=standard_user 🟢
WEB_CREDENTIALS_PASSWORD=secret_sauce 🟢
WEB_HEADLESS=true 🟢

# MOBILE Configuration
MOBILE_PLATFORM=android 🟢
MOBILE_IS_CLOUD=true 🟢
MOBILE_CREDENTIALS_USERNAME=bob@example.com 🟢
MOBILE_CREDENTIALS_PASSWORD=10203040 🟢
BROWSERSTACK_USERNAME=your_username 🔴
BROWSERSTACK_ACCESS_KEY=your_access_key 🔴
BROWSERSTACK_APPIUM_VERSION=2.4.1 🟢
BROWSERSTACK_HUB_URL=https://hub-cloud.browserstack.com/wd/hub 🟢
ANDROID_CLOUD_DEVICE_NAME=Google Pixel 6 🟢
ANDROID_CLOUD_PLATFORM_VERSION=12.0 🟢
ANDROID_CLOUD_APP_PACKAGE=com.saucelabs.mydemoapp.rn 🟢
ANDROID_CLOUD_APP_ACTIVITY=.MainActivity 🟢
BROWSERSTACK_ANDROID_APP=bs://your_android_app_id 🔴
IOS_CLOUD_DEVICE_NAME=iPhone 16 Pro 🟢
IOS_CLOUD_PLATFORM_VERSION=18.6 🟢
IOS_CLOUD_BUNDLE_ID=com.saucelabs.mydemoapp.rn 🟢
BROWSERSTACK_IOS_APP=bs://your_ios_app_id 🔴

# TELEGRAM Configuration
TELEGRAM_BOT_TOKEN=your_telegram_bot_token 🔴
TELEGRAM_CHAT_ID=your_telegram_chat_id 🔴

# 🟢 Green indicators: You can copy these values as-is (default values)
# 🔴 Red indicators: You MUST replace these with your actual values
